body{
background-color: #e3f6f5; 
}
.card-body{
  padding: 40px;
}

.cardupdate{
  background-color: #bae8e8;
  border-radius: 18px; 
}
.text-style {
    font-family: "Playfair", serif;
    padding: 0;
    margin: 0;
    color: rgba(39,33,66,.4);
  }
  #new-temprature {
    color: #212121;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;

  }

  .main {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
  }

  .additional {
    margin-top: 100px;
  }
  
  .additional p {
    font-size: 20px;
  }
  
  .cardupdate {
    display: block;
    margin: 50px auto;
  }
  
  a {
    text-decoration: none;
  }
  
  form {
    margin: 10px 30px 30px;
  }
  
  .cityName:focus {
    outline: none !important;
    border: 1px solid rgb(105, 141, 240);
    box-shadow: 10px #719ece;
  }

  .containerNew{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0 10px 0 10px;
  }
  
  li {
    font-family: "Playfair", serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  }

  #moreInfo{
    text-transform: capitalize;
  }

  .bottom_link{
    text-align: center;
    padding-bottom: 10px;
  }
  #icon{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
 